{% extends "app/base.html" %}
{% block title %} Division Teams {% endblock title %}
{% block content %}
  <hr class="silent">
  <div class="container text-center">
    <div class="bg-white txt-black rounded p-3">
      <div class="bg-black txt-white rounded p-3">
        <a class="silent-link txt-white" href="{% url 'division-detail' teams.first.division.pk %}">
          <h1>{{ teams.first.division.name }}</h1>
        </a>
      </div>
    </div>
    <hr class="silent">
    {% for team in teams %}
      <div class="bg-white txt-black rounded p-3 mb-3">
        <div class="bg-black txt-white rounded p-3">
          <div class="row align-items-center">
            <div class="col">
              <h1><small>#</small> <strong>{{ team.profile.divrank }}</strong></h1>
            </div>
            <div class="col">
              <a class="silent-link txt-white" href="{% url 'team-detail' team.pk %}">
                <img width="100" height="100" src="{{ team.logo }}">
              </a>
            </div>
            <div class="col-8">
              <a class="silent-link txt-white" href="{% url 'team-detail' team.pk %}">
                <h1>{{ team.profile.fullname }}</h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <hr class="silent">
  </div>
{% endblock content %}
