{% extends "app/base.html" %}
{% block title %} Player Stat List {% endblock title %}
{% block content %}
  <hr class="silent">
  <div class="container text-center">
    <div class="bg-white txt-black p-3">
      <div class="bg-black txt-white p-3">
        <div class="row align-items-center">
          <div class="col">
            <a href="{% url 'team-detail' playerstats.first.player.team.pk %}">
              <img width="100" height="100" src="{{ playerstats.first.player.team.logo }}">
            </a>
          </div>
          <div class="col">
            <a href="{% url 'player-detail' playerstats.first.player.pk %}">
              <img height="100" src="{{ playerstats.first.player.headshot }}">
            </a>
          </div>
          <div class="col-6">
            <h1>{{ playerstats.first.player.name }}</h1>
          </div>
          <div class="col">
            <h1>{{ playerstats.first.player.position.name }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for playerstat in playerstats %}
        <div class="col-6">
          <hr class="silent">
          <div class="bg-white txt-black p-3 rounded">
            <div class="bg-black txt-white p-3 rounded">
              <a class="silent-link txt-white" href="{% url 'stat-detail' playerstat.stat.pk %}">
                <h4 class="py-4">{{ playerstat.stat.shortdesc }}</h4>
              </a>
              <div class="row align-items-center">
                <div class="col-6">
                  <a href="{% url 'team-detail' playerstat.player.team.pk %}">
                    <img width="100" height="100" src="{{ playerstat.team.logo }}">
                  </a>
                </div>
                <div class="col-4 mr-auto">
                  <h1><strong>{{ playerstat.string }}</strong></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <hr class="silent">
  </div>
{% endblock content %}
