{% extends "app/base.html" %}
{% block title %} Player List {% endblock title %}
{% block content %}
  <div class="container">
    {% for player in players %}
      <hr class="silent">
      <div class="bg-white txt-black p-3">
        <div class="bg-black txt-white p-3">
          <div class="row text-center align-items-center">
            <div class="col">
              <a class="silent-link txt-white" href="{% url 'team-detail' player.team.pk %}">
                <img width="100" height="100" src="{{ player.team.logo }}">
              </a>
            </div>
            <div class="col">
              <a href="{% url 'player-detail' player.pk %}">
                <img height="100" src="{{ player.headshot }}">
              </a>
            </div>
            <div class="col-6">
              <a class="silent-link txt-white" href="{% url 'player-detail' player.pk %}">
                <h1>{{ player.name }}</h1>
              </a>
            </div>
            <div class="col">
              <a class="silent-link txt-white" href="{% url 'player-detail' player.pk %}">
                <h1>{{ player.position.name }}</h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
