{% extends "app/base.html" %}
{% block title %} - Player Detail {% endblock title %}
{% block content %}
  <div class="container text-center">
    <hr class="silent">
    <div class="rounded p-3 mb-3" style="background: #{{ player.team.color.main  }};color: #{{ player.team.color.alt }}">
      <div class="rounded p-3" style="background: #{{ player.team.color.alt  }};color: #{{ player.team.color.main }}">
        <div class="row align-items-center">
          <div class="col-md">
            <img height="100" src="{{ player.headshot }}">
          </div>
          <div class="col-md-7">
            <h1>{{ player.name }}</h1>
          </div>
          <div class="col-md">
            <h2>{{ player.position }}</h2>
          </div>
        </div>
      </div>
    </div>
    <hr class="silent">
  </div>
{% endblock content %}
